.background {
  viewport-fill: black;
}

#sunAltitudteText {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: start;
  fill: white;
}

#sunAzimuthText {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: start;
  fill: white;
}

