.background {
  viewport-fill: black;
}

#sunAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#sunAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#mercuryAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#mercuryAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#venusAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#venusAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#moonAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#moonAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#marsAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#marsAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#jupiterAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#jupiterAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#saturnAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#saturnAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#uranusAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#uranusAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#neptuneAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#neptuneAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#plutoAltitude {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

#plutoAzimuth {
  font-size: 32;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  fill: white;
}

