
.application-fill           { fill: fb-cyan; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#bodyName {
  text-anchor: end;
}

#bodyRightAscension {
  text-anchor: end;
}

#bodyDeclination {
  text-anchor: end;
}

#bodyDistance {
  text-anchor: end;
}

#bodyAzimuth {
  text-anchor: end;
}

#bodyAltitude {
  text-anchor: end;
}

#bodyRiseTime {
  text-anchor: end;
}

#bodySetTime {
  text-anchor: end;
}

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  fill: "fb-white";
}

.tile-list-item {
  height: 114;
}

.tile-list-header {
  height: 69;
}

.tile-background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%-10;
  fill: #000000;
  opacity: 0.25;
}

.tile-list-item text {
  font-size: 32;
  text-length: 64;
  x: 30%;
  y: 55%;
}

.tile-list-header text {
  x: 50%;
}

.tile-list-icon {
  x: 10%;
  y: 25%;
  width: 50;
  height: 50;
}
